.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.header-title {
  font-size: 2rem;
  margin: auto;
  font-weight: 600;
  color: #8b0000;
  filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.3))
    drop-shadow(0 0 10px rgba(139, 0, 0, 0.7));
  position: absolute;
  text-align: center;
  width: 100%;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.header-pan-mode {
  font-size: 1.6rem;
  color: #000000;
  margin-right: auto;
}
